.sidenav-container {
    height: calc(100% - 64px); /* Adjust height based on the height of the navbar */
    margin-top: 64px;
  }
  .sidenav {
    width: 200px;
  }
  .content {
    padding: 16px;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .sidenav-container {
    margin-top: 64px;
  }