<mat-toolbar color="primary" class="navbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>{{ isSidebarOpen ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
    <span>Sistem Informasi Terpadu Karyawan</span>
    <span class="spacer"></span>
    <h4 class="mx-2">Selamat datang {{fullname}}</h4>
    <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="isSidebarOpen" class="sidenav">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item *ngFor="let menu of sidebarMenus" [routerLink]="menu.link">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.label }}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>