<div class="login-container d-flex justify-content-center align-items-center h-100">
    <mat-card class="shadow-lg">
        <mat-card-title class="text-center  fw-bold my-4">LOGIN</mat-card-title>   
            <h5 class="text-center my-3">SITERKA (Sistem Informasi Terpadu Karyawan)</h5>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()" class="d-flex flex-column gap-4">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput type="text" [formControl]="username" name="username" required>
                <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
                    Username is required.
                </mat-error>
            </mat-form-field>
                
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput type="password" maxlength="16" [formControl]="password" name="password" required>
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                    Password is required.
                </mat-error>
            </mat-form-field>

            @if(isLoading ===true){
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }
            <button mat-raised-button color="primary" type="submit" class="w-100">Login</button>
            </form>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
            <button class="btn btn-link mt-2">
                <a (click)="openForgotPasswordModal()" class="text-muted">Lupa password?</a>
            </button>
        </mat-card-actions>
    </mat-card>
</div>