<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="card-title">Employee Dashboard</h5>
        </div>
        <div class="card-body">
          <p class="lead">Welcome back, {{fullname}}!</p>
          <div class="row">
            <div class="col-md-6">
              <div class="card text-white bg-info mb-3">
                <div class="card-header">Quick Stats</div>
                <div class="card-body">
                  <h5 class="card-title">Total Tasks</h5>
                  <p class="card-text">120</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card text-white bg-success mb-3">
                <div class="card-header">Completed Tasks</div>
                <div class="card-body">
                  <h5 class="card-title">85%</h5>
                  <p class="card-text">98 out of 115</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
