<mat-dialog-content>
    <h4 class="fw=fw-bold"> Form {{ isEdit ? 'Edit' : 'Add' }} Employee</h4>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" required>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" required>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" required>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Birth Date</mat-label>
                <input matInput type="date" formControlName="birthDate" required>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Basic Salary</mat-label>
                <input matInput type="number" formControlName="basicSalary" required>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" required>
                  <mat-option *ngFor="let item of status" [value]="item">{{ item }}</mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Group</mat-label>
                <mat-select formControlName="group" required>
                  <mat-option *ngFor="let group of groups" [value]="group">{{ group }}</mat-option>
                </mat-select>
            </mat-form-field>              
        </div>
        <div class="col-md-12">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Description</mat-label>
                <input matInput type="date" formControlName="description" required>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-button type="button" (click)="onCancel()">Cancel</button>
        <button mat-button type="submit" [disabled]="employeeForm.invalid">Submit</button>
    </div>
    </form>
</mat-dialog-content>
  