.full-width {
    width: 100%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-6 {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  .col-md-12 {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    padding: 16px 0 0;
  }
  
  