<div class="card">
    <div class="card-header">
        Halaman List Employee
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="card-body">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="row">
            <div class="col-md-6 text-left">
                <div class="search-container">
                    <mat-form-field  fxFlex="45%">
                        <mat-label>Search First Name</mat-label>
                        <input matInput (keyup)="applyFilter()" placeholder="First Name" [(ngModel)]="searchFirstName">
                    </mat-form-field>
                    <mat-form-field  fxFlex="45%">
                        <mat-label>Search Last Name</mat-label>
                        <input matInput (keyup)="applyFilter()" placeholder="Last Name" [(ngModel)]="searchLastName">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <button (click)="openModalAdd()" mat-raised-button color="primary" type="button" class="btn btn-success w-100">Add Employee</button>
            </div>
        </div>
        
        
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let row">
                        <button (click)="openModalEdit(row)" mat-raised-button class="edit-button">Edit</button>
                        <button (click)="deleteItem(row.username)" mat-raised-button color="warn" class="delete-button">Delete</button>
                    </td>
                </ng-container>

                <!-- Username Column -->
                <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                <td mat-cell *matCellDef="let row"> {{row.username}} </td>
                </ng-container>
        
                <!-- First Name Column -->
                <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
                </ng-container>
        
                <!-- Last Name Column -->
                <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
                </ng-container>
        
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>
        
                <!-- Birth Date Column -->
                <ng-container matColumnDef="birthDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date </th>
                <td mat-cell *matCellDef="let row"> {{row.birthDate | date}} </td>
                </ng-container>
        
                <!-- Basic Salary Column -->
                <ng-container matColumnDef="basicSalary">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Basic Salary </th>
                <td mat-cell *matCellDef="let row"> {{row.basicSalary}} </td>
                </ng-container>
        
                <!-- Status Column -->
                <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                </ng-container>
        
                <!-- Group Column -->
                <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
                <td mat-cell *matCellDef="let row"> {{row.group}} </td>
                </ng-container>
        
                <!-- Description Column -->
                <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                </ng-container>
        
                <!-- Define the header and row for each column -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{searchFirstName}} {{searchLastName}}"</td>
                </tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of employees"></mat-paginator>
        </div>
    </div>
</div>
