.edit-button {
    margin-right: 8px; /* Adjust the margin as needed */
    background-color: #fdd835; /* Yellow background */
    color: white;
  }
  
  .delete-button {
    background-color: #d32f2f; /* Red background */
    color: white;
  }