
<h1 class="text-center" mat-dialog-title>Forgot Password</h1>
<div class="card">
    <div class="card-body">
        <div class="container" mat-dialog-content>
            <p>{{ message }}</p>
            <ul>
              <li class="fw-bold">Nama: {{ adminName }}</li>
              <li class="fw-bold">Email: {{ adminEmail }}</li>
              <li class="fw-bold">Telepon: {{ adminPhone }}</li>
            </ul>
            <p>{{ closingMessage }}</p>
          
        </div>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onClose()">OK</button>
</div>
